<%= form_for @gift_given, html: { multipart: true } do |f| %>
<% if @gift_given.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift_given.errors.count, "error") %> prohibited this gift_given from being saved:</h2>

      <ul>
      <% @gift_given.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <p class="font">Select Occasion for Purchased Gift:</p><br>
      <%= f.select :special_occasion_id, @select_occasions, {include_blank: ''} %>
    </div>

    <div class="field">
      <p class="font">Name of Gift Purchased:</p><br>
      <%= f.text_field :gift_name %>
    </div>

    <div class="field">
      <p class="font">Purchased for:</p>
      <%= f.select :recipient_id, @select_recipients, {include_blank: ''} %>
    </div>


    <div class="field">
        <p class="font">Upload A Photo of Purchased Gift:</p>
      <%= f.file_field :gift_given_pic %>
      <%= image_tag @gift_given.gift_given_pic  %>
    </div>

    <div class="actions">
    <p id="font"><%= f.submit class:"btn btn-default" %></p>
    </div>
<% end %>