<p id="notice"><%= notice %></p>

<h1 id="font"> Recipients</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class="info">
      <th class="font">Name</th>
      <th class="font">Relationship</th>
      <th class="font">Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= recipient.name %></td>
        <td><%= recipient.relationship %></td>
        <td><%= recipient.notes %></td>
        <td><%= link_to 'Show', recipient %></td>
        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipient', new_recipient_path %>
