<p id="notice"><%= notice %></p>

<p>
  <strong class="font">Name:</strong>
  <%= @recipient.name %>
</p>


<p>
  <strong class="font">Relationship:</strong>
  <%= @recipient.relationship %>
</p>

<p>
  <strong class="font">Notes:</strong>
  <%= @recipient.notes %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %><br><br>
<%= link_to 'Create gift purchased', new_gift_given_path, class:'btn btn-default' %>
